@import 'ui_assets/scss/index';
@import 'ui_foundation/scss/index';
@import './public';
@import './mycbanc';

@mixin cbw_home {

  hr {
    @include hr;
  }

  #mycbanc {
    @include mycbanc;
  }

  #home_public {
    @include home_public;
  }
}
