@import 'ui_documents/scss/mixins';
@import 'ui_qna/scss/mixins';
@import 'ui_signature/scss/mixins';

@mixin mycbanc {

  background: white;

	@media #{$medium} {
	  background: linear-gradient(90deg, $light_grey 50%, white 50%);
	}

	#hero {
		background-color: $soft_grey;

	  h2 {
	  	@include grid-row;
	  	color: $cbanc;
	  	padding: 2rem 0;
	  	font-weight: 200;
	  }

	  .meta_count {

	  	div {
	  		text-align: center;

	  		@media #{$large} {
					@include grid-column(4, $collapse:true)
				}

				span {
					display: block;
					text-align: center;
				}
	  	}
	  }
	}

	#dashboard {
		@include grid-row;

		#controls {
			@include grid-column(12);
			border-bottom: 1px solid $soft_grey;

	    @media #{$large} {
	      @include grid-column(1.5);
	      border-bottom: none;
	      padding-right: 0;
	    }

			ul {
				padding: 0;
				margin: 1.5rem 0 0 0;

				li {
					list-style: none;

					a {
						@include nav_active_tab;
						display: block;
						padding: .5rem 0 .5rem 1rem;
						font-size: 1rem;
						color: $steel;

						@media #{$medium} {
							font-size: .8rem;
						}

						&:hover {
							@include transition();
							background-color: $soft_grey;
							color: $charcoal;
							cursor: pointer;
							text-decoration: none;
						}			

						&.active {
							background-color: white;
							color: $cbanc;
						}			
					}

					&.title {
						font-weight: 600;
						color: $charcoal;
						padding-left: 1rem;
					}
				}
			}
		}

		#content {
			background-color: white;
			padding-bottom: 2rem;
			position: relative;

	    @media #{$medium} {
	      @include grid-column(9.5);
	      min-height: 50rem;	
	    }
			   
	    .content_pane {
	    	@include grid-row;

	    	main {
					@include grid-column(12);

					@media #{$large} {
						@include grid-column(8, $collapse:true);
					}
	    	}

	    	aside {
					@include grid-column(12);

					@media #{$large} {
						@include grid-column(4, $collapse:true);
					}

					.card {
						header {
							h2 {
								font-size: 1rem;
							}
						}
					}
	    	}
	    }

			#newsfeed {

				.feedlist {

			    article {
			    	border-top: 1px solid $soft_grey;
			    	padding: 1rem 1rem .5rem 0;

			    	@media #{$large} {
			    		margin-right: 1rem;
			    	}

			    	article {
			    		width: 100%;
			    	}

			    	header {
			    		a.headline {
			    			font-size: 1.25rem;
			    		}

			    		.meta_info {
			    			font-size: .8rem;
			    			color: $steel;

			    			time {
			    				color: $grey;
			    			}

			    			i {
			    				margin-right: .25rem;
			    			}
			    		}
			    	}

			    	p {
			    		font-size: .8rem;
			    		color: $charcoal;
			    	}

			    	.read_full_story {
			    		margin-left: .5rem;
			    	}
			    }
				}

				.engagement {

			    div {
			    	margin-bottom: 1rem;
			    	position: relative;
			    	overflow: hidden;
			    	color: white;
			    	width: 93%;

				    @media #{$medium} {
				      width: 100%;
				    }

			    	a.main_cta {
							color: white;
							font-weight: 200;
							font-size: 1.25rem;
							display: block;
							padding: 1rem;
							width: 75%;
			    	}

			    	a.content_count {
			    		display: block;
			    		font-weight: 200;
			    		font-size: .8rem;
			    		color: white;
			    		padding-left: 1rem;
			    	}

				    a.learn_more {
							font-size: .8rem;
							padding: .5rem 1rem;
							background-color: rgba(0, 0, 0, 0.25);
							width: 100%;
							color: white;
							display: block;

					    @media #{$medium} {
					      position: absolute;
					      bottom: 0;
					    }
				    }

			    	&.my_reputation {
			    		background-color: $thanks_dark;
			    		padding-bottom: 1rem;

			    		@media #{$medium} {
			    			margin-top: 2rem;
			    		}

			    		p {
			    			padding: .25rem 1rem;
			    			margin: 0;
			    			color: white;
			    			font-weight: 200;

			    			img {
			    				display: inline;
							    width: .75rem;
							    margin-right: .5rem;
							    /* I know negative margin is bad, but this 2px diff is killing me - JMH */
							    margin-bottom: -2px;
			    			}

			    			a {
			    				color: white;
			    			}
			    		}

			    		.title {
				    		font-size: .8rem;
								padding: .5rem 1rem;
								margin-bottom: 0;
								background-color: rgba(0, 0, 0, 0.25);
								width: 100%;
			    		}
			    	}

			    	&.docs {
							background-color: $docs-indicator;

							@media #{$medium} {
								height: 10rem;
							}
			    	}

			    	&.qna {
			    		background-color: $questions-indicator;

							@media #{$medium} {
								height: 10rem;
							}
			    	}

			    	&.products {
			    		background-color: $products-indicator;
			    	}
			    }
				}
			}

			#documents_activity {

				section.documents_results {
					display: block;
					padding-top: 0;
					margin-right: 1rem;

					article {
						@include document_card();

						header {
							.signature {
								@include signature;
							}
						}
					}
				}		

				aside {

					section.questions_results {
						display: block;
						padding-top: 0;
						margin-right: 1rem;

						article {
							@include question_side_card();

							header {
								.signature {
									@include signature;
								}
							}
						}
					}					
				}		
			}

			#questions_activity {

				section.questions_results {
					display: block;
					padding-top: 0;
					margin-right: 1rem;

					article {
						@include question_card();

						header {
							.signature {
								@include signature;
							}
						}
					}
				}		

				aside {

					section.questions_results {
						display: block;
						padding-top: 0;
						margin-right: 1rem;

						article {
							@include question_side_card();

							header {
								.signature {
									@include signature;
								}
							}
						}
					}					
				}						
			}

			#build_your_reputation {
				@include grid-row();

				.current_reputation {
					@include info-message();
					margin-bottom: .5rem;
				}

				.upload_doc {
				  display: block;
				  width: 100%;
					@include cbanc_button($color:cta, $icon:files-o, $icon-pos:before, $ghost:true);
					
					@media #{$medium-query} {
					  width: 45%;
					  margin-right: 1rem;
					}

				}

				.answer_question {
				  display: block;
				  width: 100%;
					@include cbanc_button($color:cta, $icon:comment, $icon-pos:before, $ghost:true);

					@media #{$medium-query} {
					  width: 45%;
					}					
				}

				section.questions_results {
					display: block;
					padding-top: 0;
					margin-right: 1rem;

					article {
						@include question_card();

						header {
							.signature {
								@include signature;
							}
						}
					}
				}		

				aside {

					section.questions_results {
						display: block;
						padding-top: 0;
						margin-right: 1rem;

						article {
							@include question_side_card();

							header {
								.signature {
									@include signature;
								}
							}
						}
					}						
				}		
			}
		}
	}
}

@mixin nav_active_tab {
	&[id*="_active"] {
		background-color: white;
		color: $cbanc;

		&:hover {
			background-color: white;
			color: $cbanc_muted;
		}
	}	
}