@import 'ui_cbw_static/scss/mixins';
@import 'ui_signature/scss/mixins';

@mixin home_public {

  #hero {
    text-align: center;
    background: $soft_grey cbw_image('home/hero@x2.jpg') no-repeat 0 0;
    background-size: cover;

    @media #{$large-query} {
      min-height: rem-calc(540);
    }

    .message {
      @include main_wrapper;
      padding-top: rem-calc(40);
    }

    h1 {
      color: white;
      font-size: rem-calc(20);
      font-weight: 300;
      line-height: 1.2;

      @media #{$medium-query} {
        font-size: rem-calc(40);
        margin-top: rem-calc(80);
      }
    }

    h3 {
      color: white;
      display: block;
      font-size: rem-calc(14);
      font-style: normal;
      font-weight: 300;

      @media #{$medium-query} {
        font-size: rem-calc(24);
      }
    }

    .button {
      @include cbanc_button($size:large);
      font-size: rem-calc(16);
      margin-top: rem-calc(40);
      margin-bottom: rem-calc(65);
      padding-left: rem-calc(80);
      padding-right: rem-calc(80);
    }
  }

  h3.headline {
    @include section_title;
  }

  #cta_menu {
    .wrapper {
      @include main_wrapper;

      @media #{$smedium-query} {
        margin-top: rem-calc(16);
        margin-bottom: rem-calc(16);
      }

      div {
        position: relative;
        overflow: hidden;
        text-align: center;
        padding: rem-calc(20) 0;
        border-bottom: 1px solid $soft_grey;

        &:last-child {
          border: none;
        }

        @media #{$smedium-query} {
          @include grid-column(6, $collapse:true);
          text-align: left;
          border: none;
          padding: 0;
          margin: rem-calc(20) 0;
        }

        @media #{$large-query} {
          @include grid-column(4, $collapse:true);
        }

        h3 {
          font-size: rem-calc(20);
          font-weight: 300;
          height: 100%;
          margin: 0;
          padding: 0;
          text-transform: uppercase;

          a {
            padding-bottom: rem-calc(10);

            @media #{$smedium-query} {
              padding-bottom: rem-calc(15);
            }
          }
        }

        a {
          @include transition;
          color: $steel;
          display: block;
          text-decoration: none;

          &:hover {
            text-decoration: none;
          }

          &.learn_more {
            position: relative;
            font-size: rem-calc(13);
            padding: rem-calc(10) 0 0 0;
            text-transform: uppercase;

            &:before {
              @include transition(width, .5s, ease-in-out);
              content: "";
              height: rem-calc(3);
              position: absolute;
              top: 0;
              left: 50%;
              margin-left: rem-calc(-62);
              width: rem-calc(124);

              @media #{$smedium-query} {
                left: 0;
                margin-left: 0;
              }
            }

            &::after {
              @include icon(angle-double-right);
              margin-left: rem-calc(10);
            }
          }
        }

        @media #{$smedium-query} {
          &:hover {
            .learn_more {
              &:before {
                width: 90%;
              }
            }
          }
        }

        &.documents {
          &:hover {
            a {
              color: $docs-indicator;
            }
          }

          .learn_more {
            &:before {
              background: $docs-indicator;
            }
          }
        }

        &.qna {
          &:hover {
            a {
              color: $questions-indicator;
            }
          }

          .learn_more {
            &:before {
              background: $questions-indicator;
            }
          }
        }

        &.vendors {
          &:hover {
            a {
              color: $products-indicator;
            }
          }

          .learn_more {
            &:before {
              background: $products-indicator;
            }
          }
        }

        &.vendor_management {
          &:hover {
            a {
              color: $products_alt;
            }
          }

          .learn_more {
            &:before {
              background: $products_alt;
            }
          }
        }

        &.education {
          &:hover {
            a {
              color: $education;
            }
          }

          .learn_more {
            &:before {
              background: $education;
            }
          }
        }

        &.reputation {

          &:hover {
            a {
              color: $thanks_muted;
            }
          }

          .learn_more {
            &:before {
              background: $thanks;
            }
          }
        }
      }
    }
  }

  #testimonials {
    background-color: $cbanc;
    color: white;
    margin: rem-calc(5) 0;
    padding: rem-calc(40);
    text-align: center;

    .user_card {
      display: none;
    }

    .quotes {
      @include main_wrapper;
    }

    .sig {
      @include signature;
      color: $white;
      font-size: rem-calc(24);
      padding: 0;


      span,
      a.org_name,
      .user_link {
        color: $white !important;
      }

      .avatar {
        width: rem-calc(100);
        height: rem-calc(100);
        margin: 0 auto rem-calc(20);
        position: relative;
        border: rem-calc(3) solid $white;
      }

      .pubtime {
        display: none;
      }
    }

    .quote {
      font-size: rem-calc(18);
      font-weight: 300;
      line-height: 1.8;
      margin-top: rem-calc(30);

      @media #{$medium-query} {
        padding: 0 rem-calc(60);
      }
    }
  }

  #sections {

    article {
      @include content_section;
    }

    .documents {
      .feature_image {
        background-image: cbw_image('home/docs.jpg');
      }

      h2 {
        &:after {
          background: $docs;
        }
      }
    }

    .questions {
      .feature_image {
        background-image: cbw_image('home/qa.jpg');
      }

      h2 {
        &:after {
          background: $questions;
        }
      }
    }

    .vendors {
      .feature_image {
        background-image: cbw_image('home/products.jpg');
      }

      h2 {
        &:after {
          background: $products;
        }
      }
    }

    .vendor_management {
      .feature_image {
        background-image: cbw_image('home/vm.jpg');
      }

      h2 {
        &:after {
          background: $vendor_management;
        }
      }
    }

    .education {
      .feature_image {
        background-image: cbw_image('home/education.jpg');
      }

      h2 {
        &:after {
          background: $education;
        }
      }
    }

    .reputation {
      .feature_image {
        background-image: cbw_image('home/reputation.jpg');
      }

      h2 {
        &:after {
          background: $thanks_muted;
        }
      }
    }
  }
}
