@import 'scss/mixins';

@import 'ui_header/scss/mixins';
@import 'ui_footer/scss/mixins';
@import 'ui_breadcrumbs/scss/mixins';
@import 'ui_page/scss/mixins';

/** Component styles **/

body {
  @include body($full:true);
  @include cbw_home;
}

/** General styles **/

#header {
  @include cbanc_header;
}

#footer {
  @include cbanc_footer;
}

#breadcrumbs {
  @include breadcrumbs;
}

#page_title {
  @include page_title;
}